# Rx
github "Alamofire/Alamofire"
github "RxSwiftCommunity/RxGesture"
github "RxSwiftCommunity/RxDataSources" 
github "ReactiveX/RxSwift" 
github "antitypical/Result" 
github "mxcl/PromiseKit"

# Database
github "realm/realm-cocoa"

# network abstraction layer
github "Moya/Moya" 
github "bignerdranch/Freddy"
github "daltoniam/Starscream" >= 3.0.2
github "scinfu/SwiftSoup"

# Visualisation
github "SwiftKickMobile/SwiftMessages" 
github "mac-cain13/R.swift.Library"
github "SwipeCellKit/SwipeCellKit"
#github "iLem0n/AMTooltip" 

# Logging
github "SwiftyBeaver/SwiftyBeaver"

