# Rx
github "RxSwiftCommunity/RxGesture"
github "RxSwiftCommunity/RxDataSources"
github "ReactiveX/RxSwift"
github "antitypical/Result"

# Database
github "realm/realm-cocoa"

# network abstraction layer
github "Moya/Moya"
github "bignerdranch/Freddy"
github "scinfu/SwiftSoup"

# Visualisation
github "SwiftKickMobile/SwiftMessages"
github "mac-cain13/R.swift.Library"
github "SwipeCellKit/SwipeCellKit"
github "amirdew/AMTooltip"

# Logging
github "SwiftyBeaver/SwiftyBeaver"


# text recognition
#github "garnele007/SwiftOCR"
#github "BradLarson/GPUImage"

# XML Parser 
#github "yahoojapan/SwiftyXMLParser"
#github "gali8/Tesseract-OCR-iOS" ~> 4.0.0
